# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.CrystalIdeasv2-tests-production-code.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Code\web\CrystalIdeasV2\CrystalIdeasv2-tests-production-code\.idea\.idea.CrystalIdeasv2-tests-production-code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
